
body {
    background: #000;
    text-align: center;
    color: #fff;
    font-family: "Google Sans", sans-serif;
}
.bar-wrapper {
    height: 300px;
    position: relative;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #fff;
    
}
button{
  background-color: #454545;
  color: #fff;
}
body::-webkit-scrollbar {
    display: none;
  }
  html {
    scrollbar-width: none;
  }
  .clock {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }