
body {
    background: #000;
    text-align: center;
    color: #fff;
    font-family: "Google Sans", sans-serif;
}
.bar-wrapper {
    height: 300px;
    position: relative;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #fff;
    
}
.canvas{
    border-radius: 5px;
}
button{
  background-color: #454545;
  color: #fff;
}